<h3>Lista con icon</h3>
<mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Usuario 1</span>
    <span matListItemLine>Usuario2@gmail.com</span>
    <span matListItemLine>+34 662584456</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Usuario 2</span>
    <span matListItemLine>Usuario2@gmail.com</span>
    <span matListItemLine>+34 662588456</span>
  </mat-list-item>
</mat-list>



