@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

button {
    border-radius: 5px;
    background-color: rgb(103, 122, 246);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    margin: 10px;

}

.btn:hover {
    background-color: rgb(191, 199, 250);
}