*{
  box-sizing: border-box;

}
.category{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-gap: 30px;
  padding:4em 2em;
 
}

.card{
  border-radius: 10px;
  position: relative;
  background-color: rgb(227, 249, 249);
}

.card__imagen{
  overflow: hidden;
  display: block;
  max-width: 100%;
  object-fit:cover;
  border-radius:10px;
  object-position: center top;
  object-fit: cover;
}
